[Desktop Entry]
Name=Qt App
Comment=Awesome Qt App
Exec=qt-app
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Qt;
Icon=qt-app
